[Unit]
Description=Meshblu
After=xdk-daemon.service
Requires=xdk-daemon.service

[Service]
#User=root
TimeoutStartSec=20
Environment=UUID=XX
Environment=TOKEN=XX
Environment=PORT=3040
ExecStart=/usr/bin/forever start /home/root/meshblu/server.js

[Install]
WantedBy=multi-user.target
