[Unit]
Description=Robot
After=meshblu.service

[Service]
#User=root
ExecStart=/usr/bin/forever start /home/root/meshblu-drink-bot/drive_prod.js

[Install]
WantedBy=multi-user.target
